// Sovrascrivi le variabili di Bootstrap prima di importare gli stili di Bootstrap

$primary: orange; // Colore personalizzato

$accordion-bg: #e9ecef;
$accordion-border-color: #e0e0e0;
$accordion-color: #212529;
$accordion-btn-active-bg: #e9ecef;
$accordion-btn-focus-border-color: #adb5bd;

