/* Vars */


// App bar
.eq-ui-app-bar {
    position: relative;
    color: eq_color("shades", "white");
    background-color: $eq-ui-primary-color;
    height: $eq-ui-tool-bar-height;

    .eq-ui-side-nav-toggle {
        // Hide nav togglee
        display: none;
    }
}

// Show nav toggle
body.eq-ui-side-nav-hide .eq-ui-app-bar .eq-ui-side-nav-toggle {
    display: block;
}

@media (max-width: $screen-sm-min) {
	// Show nav toggle
    .eq-ui-app-bar .eq-ui-side-nav-toggle {
        display: block;
    }
}
