/* Breadcrumb */

.eq-ui-breadcrumb {
    display: flex;
    position: relative;
    gap: 4px;

    .eq-ui-breadcrumb-item {
        display: inline-flex;
        align-items: center;
        position: relative;
        line-height: inherit;
        color: #fff;
        font-size: 20px;
        text-decoration: none;

       &:not(.eq-ui-breadcrumb-item-hide):not(:first-of-type):before {
            font-family: 'Material Icons';   
            content: "chevron_right";       
            font-weight: normal;
            font-style: normal;
            font-size: 24px;                
            line-height: inherit;
            margin: 0 4px;
        }

        &.eq-ui-breadcrumb-item-hide {
            display: none;
        }

        &.eq-ui-breadcrumb-item-truncate {
            @extend .truncate;
            float: none;
        }
    }

    // Hide first divider
    .eq-ui-breadcrumb-item-hide + .eq-ui-breadcrumb-item {

        &::before {
            content: "";
            display: none;
        }
    }

    // First min
    .eq-ui-breadcrumb-item.eq-ui-breadcrumb-item-hide.eq-ui-breadcrumb-item-min {
        display: inline-block;

        span {
            display: none;
        }

       &::before {
            display: inline-block;
            font-family: 'Material Icons';  
            content: "arrow_left";          
            font-weight: normal;
            font-style: normal;
            font-size: 24px;                
            line-height: inherit;
            margin: 0 4px;
            // float: left;
        }


        + .eq-ui-breadcrumb-item {
            @extend .truncate;
            float: none;

            span {
                @extend .truncate;
                float: none;
            }
        }
    }
}
