<!-- Side nav -->
<div class="eq-ui-side-nav">

    <div class="eq-ui-side-nav-wrapper">

        <div class="brand">
            <div class="eq-ui-side-nav-toggle"><i class="material-icons icon icon-24">menu</i>
            </div>
            <img src="/doc/exentriq_logo.svg" alt="Exentriq logo">
        </div>

        <div class="eq-ui-side-nav-content-wrapper">
            <nav>

                <!-- Search -->
                <div id="doc-eq-ui-side-nav-search-autocomplete" class="eq-ui-search">
                    <div class="eq-ui-search-flex">
                        <input type="text" placeholder="Search">
                        <i class="eq-ui-search-icon-left material-icons icon icon-left">search</i>
                        <i class="eq-ui-search-clear material-icons icon icon-right icon-18">close</i>
                    </div>
                </div>

                <!-- Collapsible Menu -->
                <ul class="eq-ui-collapsible" data-collapsible="accordion">

                    <li>
                        <div class="eq-ui-collapsible-header eq-ui-waves">
                            <a id="collapsible-nav-index" href="./">
                                <i class="material-icons eq-ui-icon icon-left icon-24">home</i>
                                Home
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="eq-ui-collapsible-header eq-ui-waves">
                            <a id="collapsible-nav-getting-started" target="_blank"
                                href="https://github.com/ExentriqLtd/Bootstrap-Material-UI/blob/master/README.md">
                                <i class="material-icons eq-ui-icon icon-left icon-24">settings</i>
                                Getting Started
                                <i class="material-icons eq-ui-icon icon-right icon-18">open_in_new</i>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="eq-ui-collapsible-header eq-ui-waves">
                            <a id="collapsible-nav-css">
                                <i class="material-icons icon icon-left icon-24">aspect_ratio</i>
                                Layout
                            </a>
                        </div>
                        <div class="eq-ui-collapsible-body">
                            <a id="collapsible-nav-css-grid" href="./grid.html">Responsive Grid</a>
                            <a id="collapsible-nav-css-spacing-methods" href="./spacing-methods.html">Spacing Methods</a>
                            <a id="collapsible-nav-css-typography" href="./typography.html">Typography</a>
                            <a id="collapsible-nav-css-color" href="./color.html">Colors</a>
                            <a id="collapsible-nav-css-icons" href="./icons.html">Icons</a>
                            <a id="collapsible-nav-css-helpers" href="./helpers.html">Helpers</a>
                        </div>
                    </li>


                    <li>
                        <div class="eq-ui-collapsible-header eq-ui-waves">
                            <a id="collapsible-nav-components">
                                <i class="material-icons eq-ui-icon icon-left icon-24">extension</i>
                                Components
                            </a>
                        </div>
                        <div class="eq-ui-collapsible-body">
                            <a id="collapsible-nav-components-buttons" href="./buttons.html">Buttons</a>
                            <a id="collapsible-nav-components-cards" href="./cards.html">Cards</a>
                            <a id="collapsible-nav-components-list" href="./list.html">List</a>
                            <a id="collapsible-nav-components-table" href="./table.html">Table</a>
                            <a id="collapsible-nav-components-sticky-table" href="./sticky-table.html">Sticky Table</a>
                            <a id="collapsible-nav-components-forms" href="./forms.html">Forms</a>
                            <a id="collapsible-nav-components-form-validation" href="./form-validation.html">Form
                                Validation</a>
                            <a id="collapsible-nav-components-badges" href="./badges.html">Badges</a>
                            <a id="collapsible-nav-components-loader" href="./loader.html">Loader</a>
                        </div>
                    </li>

                    <li>
                        <div class="eq-ui-collapsible-header eq-ui-waves">
                            <a id="collapsible-nav-java-script">
                                <i class="material-icons eq-ui-icon icon-left icon-24">layers</i>
                                JavaScript
                            </a>
                        </div>
                        <div class="eq-ui-collapsible-body">
                            <a id="collapsible-nav-java-script-collapsible" href="./collapsible.html">Collapsible</a>
                            <a id="collapsible-nav-java-script-dropdown" href="./dropdown.html">Dropdown</a>
                            <a id="collapsible-nav-java-script-modals" href="./modals.html">Modals</a>
                            <a id="collapsible-nav-java-script-tabs" href="./tabs.html">Tabs</a>
                        </div>
                    </li>

                    <li>
                        <div class="eq-ui-collapsible-header eq-ui-waves">
                            <a id="collapsible-nav-download" class="download-in-git-hub-href"
                                href="https://github.com/ExentriqLtd/Bootstrap-Material-UI/archive/master.zip">
                                <i class="material-icons eq-ui-icon icon-left icon-24">download</i>
                                Download
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="eq-ui-collapsible-header eq-ui-waves">
                            <a id="collapsible-nav-showcase" href="./showcase.html">
                                <i class="material-icons eq-ui-icon icon-left icon-24">favorite</i>
                                Showcase
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="eq-ui-collapsible-header eq-ui-waves">
                            <a id="collapsible-nav-exentriq">
                                <i class="material-icons eq-ui-icon icon-left icon-24">layers</i>
                                2023 Elements
                            </a>
                        </div>
                        <div class="eq-ui-collapsible-body">
                            <a id="collapsible-nav-exentriq-tablenew" href="./tablev2.html">Table</a>
                            <a id="collapsible-nav-exentriq-cardnew" href="./cardsv2.html">Card</a>
                            <a id="collapsible-nav-exentriq-buttonsnew" href="./buttonsv2.html">Buttons</a>
                        </div>
                    </li>

                </ul>

                <!-- Collapsible Group Menu -->
                <ul style="display:none;" class="eq-ui-collapsible eq-ui-collapsible-group"
                    data-collapsible="expandable">

                    <!-- Group 1 -->
                    <li>
                        <div class="eq-ui-collapsible-header eq-ui-waves active">
                            <a id="collapsible-nav-group-1">
                                <i class="material-icons eq-ui-icon icon-left icon-24">filter_none</i>
                                <i
                                    class="material-icons eq-ui-icon icon-right icon-24 eq-ui-collapsible-view-close">add</i>
                                <i
                                    class="material-icons eq-ui-icon icon-right icon-24 eq-ui-collapsible-view-open">remove</i>
                                Group 1
                            </a>
                        </div>
                        <div class="eq-ui-collapsible-body">

                            <!-- 1º level menu -->
                            <ul class="eq-ui-collapsible" data-collapsible="accordion">

                                <!-- 1º level menu 1 -->
                                <li>
                                    <div class="eq-ui-collapsible-header eq-ui-waves">
                                        <a id="collapsible-nav-group-1-menu-1">
                                            <i class="material-icons eq-ui-icon icon-left icon-24">folder</i>
                                            First level
                                        </a>
                                    </div>
                                    <div class="eq-ui-collapsible-body">

                                        <!-- 2º level menu 1 -->
                                        <ul class="eq-ui-collapsible" data-collapsible="accordion">

                                            <!-- 2º level menu 1 sub 1 -->
                                            <li>
                                                <div class="eq-ui-collapsible-header eq-ui-waves">
                                                    <a id="collapsible-nav-group-1-menu-1-sub1">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">folder</i>
                                                        Second level
                                                    </a>
                                                </div>
                                                <div class="eq-ui-collapsible-body">

                                                    <!-- 3º level menu 1 sub 1 -->
                                                    <a id="collapsible-nav-group-1-menu-1-sub1-sample1" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>
                                                    <a id="collapsible-nav-group-1-menu-1-sub1-sample2" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>
                                                    <a id="collapsible-nav-group-1-menu-1-sub1-sample3" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>
                                                    <a id="collapsible-nav-group-1-menu-1-sub1-sample4" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>

                                                </div>
                                            </li><!-- 2º level menu 1 sub 1 -->

                                        </ul><!-- 2º level menu 1 -->

                                    </div>
                                </li><!-- 1º level menu 1 -->

                                <!-- 1º level menu 2 -->
                                <li>
                                    <div class="eq-ui-collapsible-header eq-ui-waves">
                                        <a id="collapsible-nav-group-1-menu-2">
                                            <i class="material-icons eq-ui-icon icon-left icon-24">folder</i>
                                            First level
                                        </a>
                                    </div>
                                    <div class="eq-ui-collapsible-body">

                                        <!-- 2º level menu 2 -->
                                        <ul class="eq-ui-collapsible" data-collapsible="accordion">

                                            <!-- 2º level menu 2 sub 1 -->
                                            <li>
                                                <div class="eq-ui-collapsible-header eq-ui-waves">
                                                    <a id="collapsible-nav-group-1-menu-2-sub1">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">folder</i>
                                                        Second level
                                                    </a>
                                                </div>
                                                <div class="eq-ui-collapsible-body">

                                                    <!-- 3º level menu 2 sub 1 -->
                                                    <a id="collapsible-nav-group-1-menu-2-sub1-sample1" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>
                                                    <a id="collapsible-nav-group-1-menu-2-sub1-sample2" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>
                                                    <a id="collapsible-nav-group-1-menu-2-sub1-sample3" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>
                                                    <a id="collapsible-nav-group-1-menu-2-sub1-sample4" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>

                                                </div>
                                            </li><!-- 2º level menu 2 sub 1 -->

                                        </ul><!-- 2º level menu 2 -->

                                    </div>
                                </li><!-- 1º level menu 2 -->

                                <!-- 1º level menu 3 -->
                                <li>
                                    <div class="eq-ui-collapsible-header eq-ui-waves">
                                        <a id="collapsible-nav-group-1-menu-3">
                                            <i class="material-icons eq-ui-icon icon-left icon-24">file</i>
                                            First level
                                        </a>
                                    </div>
                                </li><!-- 1º level menu 3 -->

                            </ul><!-- 1º level menu -->

                        </div>
                    </li><!-- Group 1 -->

                    <!-- Group 2 -->
                    <li>
                        <div class="eq-ui-collapsible-header eq-ui-waves active">
                            <a id="collapsible-nav-group-2">
                                <i class="material-icons eq-ui-icon icon-left icon-24">filter_none</i>
                                <i
                                    class="material-icons eq-ui-icon icon-right icon-24 eq-ui-collapsible-view-close">add</i>
                                <i
                                    class="material-icons eq-ui-icon icon-right icon-24 eq-ui-collapsible-view-open">remove</i>
                                Group 2
                            </a>
                        </div>
                        <div class="eq-ui-collapsible-body">

                            <!-- 1º level menu -->
                            <ul class="eq-ui-collapsible" data-collapsible="accordion">

                                <!-- 1º level menu 1 -->
                                <li>
                                    <div class="eq-ui-collapsible-header eq-ui-waves">
                                        <a id="collapsible-nav-group-2-menu-1">
                                            <i class="material-icons eq-ui-icon icon-left icon-24">folder</i>
                                            First level
                                        </a>
                                    </div>
                                    <div class="eq-ui-collapsible-body">

                                        <!-- 2º level menu 1 -->
                                        <ul class="eq-ui-collapsible" data-collapsible="accordion">

                                            <!-- 2º level menu 1 sub 1 -->
                                            <li>
                                                <div class="eq-ui-collapsible-header eq-ui-waves">
                                                    <a id="collapsible-nav-group-2-menu-1-sub1">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">folder</i>
                                                        Second level
                                                    </a>
                                                </div>
                                                <div class="eq-ui-collapsible-body">

                                                    <!-- 3º level menu 1 sub 1 -->
                                                    <a id="collapsible-nav-group-2-menu-1-sub1-sample1" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>
                                                    <a id="collapsible-nav-group-2-menu-1-sub1-sample2" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>
                                                    <a id="collapsible-nav-group-2-menu-1-sub1-sample3" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>
                                                    <a id="collapsible-nav-group-2-menu-1-sub1-sample4" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>

                                                </div>
                                            </li><!-- 2º level menu 1 sub 1 -->

                                        </ul><!-- 2º level menu 1 -->

                                    </div>
                                </li><!-- 1º level menu 1 -->

                                <!-- 1º level menu 2 -->
                                <li>
                                    <div class="eq-ui-collapsible-header eq-ui-waves">
                                        <a id="collapsible-nav-group-2-menu-2">
                                            <i class="material-icons eq-ui-icon icon-left icon-24">folder</i>
                                            First level
                                        </a>
                                    </div>
                                    <div class="eq-ui-collapsible-body">

                                        <!-- 2º level menu 2 -->
                                        <ul class="eq-ui-collapsible" data-collapsible="accordion">

                                            <!-- 2º level menu 2 sub 1 -->
                                            <li>
                                                <div class="eq-ui-collapsible-header eq-ui-waves">
                                                    <a id="collapsible-nav-group-2-menu-2-sub1">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">folder</i>
                                                        Second level
                                                    </a>
                                                </div>
                                                <div class="eq-ui-collapsible-body">

                                                    <!-- 3º level menu 2 sub 1 -->
                                                    <a id="collapsible-nav-group-2-menu-2-sub1-sample1" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>
                                                    <a id="collapsible-nav-group-2-menu-2-sub1-sample2" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>
                                                    <a id="collapsible-nav-group-2-menu-2-sub1-sample3" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>
                                                    <a id="collapsible-nav-group-2-menu-2-sub1-sample4" href="./">
                                                        <i
                                                            class="material-icons eq-ui-icon icon-left icon-24">file</i>Third
                                                        level
                                                    </a>

                                                </div>
                                            </li><!-- 2º level menu 2 sub 1 -->

                                        </ul><!-- 2º level menu 2 -->

                                    </div>
                                </li><!-- 1º level menu 2 -->

                                <!-- 1º level menu 3 -->
                                <li>
                                    <div class="eq-ui-collapsible-header eq-ui-waves">
                                        <a id="collapsible-nav-group-2-menu-3">
                                            <i class="material-icons eq-ui-icon icon-left icon-24">file</i>
                                            First level
                                        </a>
                                    </div>
                                </li><!-- 1º level menu 3 -->

                            </ul><!-- 1º level menu -->

                        </div>
                    </li><!-- Group 2 -->

                </ul><!-- Group Menu -->

            </nav>
        </div>

    </div>

</div>