meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='msapplication-tap-highlight', content='no')

meta(name='description', content='Bootstrap UI version 5.')

title Documentation | Exentriq - Bootstrap Material UI

//FONT
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined")

// CSS
if isDev
    link(href='../dist/css/exentriq-bootstrap-ui-5.css', rel='stylesheet')
else
    link(href='../dist/css/exentriq-bootstrap-ui-5.min.css', rel='stylesheet')
//JS
if isDev
  script(src='../dist/js/exentriq-bootstrap-ui-5.js')
else
  script(src='../dist/js/exentriq-bootstrap-ui-5.min.js')