meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='msapplication-tap-highlight', content='no')

meta(name='description', content='Bootstrap UI version 5.')

title Documentation | Exentriq - Bootstrap Material UI
link(rel='icon', type='image/png', href='/doc/favicon.ico')

// CSS
if isDev
    link(href='../dist/css/exentriq-bootstrap-ui-5.css', rel='stylesheet')
else
    link(href='../dist/css/exentriq-bootstrap-ui-5.min.css', rel='stylesheet')
//JS
if isDev
  script(src='../dist/js/exentriq-bootstrap-ui-5.js')
else
  script(src='../dist/js/exentriq-bootstrap-ui-5.min.js')

//DOC
script.
  var _doc_route = !{JSON.stringify(doc_route)};
  console.log('_doc_route::',_doc_route)
link(href='/doc/doc.css', rel='stylesheet')
script(src='/doc/doc.js')