script var _doc_route = {root_path:"#{doc_route.root_path}",path:"#{doc_route.path}",name_section:"#{doc_route.name_section}",name_chapter:"#{doc_route.name_chapter}"};
div#content(class="row")
    div(class="col-12 col-sm-3")
        include modules/_sidebar.html
    div(class="col-12 col-sm-9")
        case doc_route.path
            when "index"
                include modules/index.html
            when "buttons"
                include modules/buttons.html
            when "modals"
                include modules/modals.html
            default
                include modules/index.html
        include modules/scripts.html