script var _doc_route = {root_path:"#{doc_route.root_path}",path:"#{doc_route.path}",name_section:"#{doc_route.name_section}",name_chapter:"#{doc_route.name_chapter}"};
div#content(class="row h-100 eq-move-left-sidebar")
    div(class="col-12 content-wrapper")
        case doc_route.path
            when "index"
                include modules/index.html
            when "buttons"
                include modules/buttons.html
            when "modals"
                include modules/modals.html
            default
                include modules/index.html