- var doc_route = {root_path:"components",path:"buttons",name_section:"Components",name_chapter:"Buttons"}

doctype html
html(lang="en")
	head
		include _head.pug
	body(class="#{def_class_body}")
		include _layout_default.pug
