- var doc_route = {root_path:"",path:"index",name_section:"",name_chapter:"Home"}

doctype html
html
    head
        include _head.pug
    body(class="vh-100 d-flex flex-column")
        include modules/_header.html 
        include modules/_sidebar.html
        div(class="container-fluid flex-fill")
            include _layout_default.pug
    include modules/scripts.html