doctype html
html
  head
    include _head.pug
  body(class="vh-100 d-flex flex-column")
    include modules/_header.html
    include modules/_sidebar.html
    main.eq-ui-main
      div.content-wrapper.mt-4
        != doc_route.content || '<!-- Missing HTML content -->'